services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: always
  backend-tests:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    environment:
      - PYTHONUNBUFFERED=1
  database:
    image: "postgres:16"
    container_name: pis-db
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "pis"
    # volumes:
    #   - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
